{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Update Technology / Service Sub Component{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container">

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<h4 class="page-title">{% block page_title %}Update Technology / Service Sub Component{% endblock %}</h4>
			<ol class="breadcrumb">
                <li><a href="/">SKF</a></li>
				<li><a href="{% url 'technologyoptions:product-or-part-numbers' %}">Products / Part Numbers</a></li>
                <li><a href="{% url 'technologyoptions:add-technology-subcomponent' %}">Technology / Service Sub Components</a></li>
				{% block  breadcrumb %}
                <li class="active">Update Technology / Service Sub Component</li>
				{% endblock %}
            </ol>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card-box">
				<form action="" enctype='multipart/form-data' method="post" data-parsley-validate novalidate >
					{% crispy form %}
				</form>
			</div>
		</div>
	</div> <!-- container -->

{% endblock %}