{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h4 class="page-title">
				{% block page_title %}Change Password {% endblock %}
			</h4>
			<ol class="breadcrumb">
                <li><a href="/">SKF</a></li>
                <li class="active">Change Password</li>
            </ol>
		</div>
	</div>
	<div class="row">
	<div class="col">
		<div class="card-box">
			<!-- form starts here -->
			<form id="change-password-form" method="post" action="#">
				{% for message in messages %}
		<div class="alert alert-block alert-danger">
			<ul>
			<li>{{ message }}</li>
			</ul>
		</div>
		{% endfor %}
				{% csrf_token %}
				{% crispy form %}
			</form>
		</div>
	</div>
</div>
</div>
{% endblock content %}