{% extends 'base_auth.html' %}

{% load static i18n crispy_forms_tags %}

{% block title %}Log In to SKF{% endblock %}

{% block content %}
<form class="form-horizontal m-t-20" method="post" action="{% url 'user-login' %}" role="form">
    {% csrf_token %}
    {% crispy form %}
    <div class="form-group m-t-30 m-b-0"
        <div class="col-sm-12">
            <a href="{% url 'password-reset' %}" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot
                your
                password?</a>
        </div>
    </div>
</form>
{% endblock %}