{% extends 'base_auth.html' %}
{% block content %}
	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3 text-center">Reset Password</h2>
		<p class="text-center">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST" action="{% url 'password-reset' %}">
            {% csrf_token %}
			{{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
			<div class="form-group m-t-30 m-b-0">
			<div class="col-sm-12">
				<a href="{% url 'user-login' %}" class="text-dark"><i class="fa fa-lock m-r-5"></i> Back to Login</a>
			</div></div>
        </div>
    </div>
        </form>
  	</div> 

{% endblock %}