{% extends 'base_auth.html' %}

{% block title %}Password Reset Email Sent!{% endblock %}
{% block page_title %}Password Reset Email Sent!{% endblock %}

{% block content %}
{% for message in messages %}
		<div class="alert alert-block alert-success" style="color:black;">
			<ul>
			<li>{{ message }}</li>
			</ul>
		</div>
{% endfor %}
<p>We’ve emailed you instructions for setting your password, if an account exists with the
    email you entered. You should receive them shortly.</p>
<p>If you don’t receive an email, please make sure you’ve entered the address you registered
    with, and check your spam folder.</p>
<div class="col-xs-12">
    <a href="{% url 'user-login' %}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light">Log In</a>
</div>

{% endblock %}
