{% extends 'base_auth.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}Set Your Password{% endblock %}
{% block page_title %}Set Your Password{% endblock %}

{% block content %}
{% if validlink %}

<p>Please enter your password twice so we can verify you typed it in correctly.</p>

<form method="post" action="" class="form-horizontal m-t-20">{% csrf_token %}
    {% crispy form %}
</form>

{% else %}
<div class="text-center">
    <p>The password set link was invalid, possibly because it has already been used. Please
        request a new password set link.</p>
    <div class="col-xs-12">
        <a href="{% url 'user-login' %}" class="btn btn-pink btn-block text-uppercase waves-effect waves-light">Log
            In</a>
    </div>
</div>
{% endif %}

{% endblock %}
