{% extends 'base.html' %}
{% load static %}

{% block title %}SKF{% endblock %}

{% block extra_css %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="account-pages">
</div>
<div class="clearfix"></div>
<div class="wrapper-page">
  
  <div class="card-box" style="margin: 100px 0 100px;">
    <div class="panel-body">
      {% include "logo.html" %}
      <h3 class="text-center">{% block page_title %}{% endblock %}</h3>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}